@import '../../scss/partial';
@import '../../scss/variables';

.contactCtaBoxSection{
    .ctaBox{
        background-color: $secondary;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 100px 60px;
        gap: 20px;
        @media(max-width:$breakpoint-laptop){
            padding: 30px 50px 40px;
        }
        @media(max-width:$breakpoint-tablet-sm){
            padding: 30px 30px 35px;
        }
        @media(max-width:$breakpoint-mobile){
            flex-direction: column-reverse;
            gap: 30px;
        }
        @media(max-width:$breakpoint-mobile-sm){
            padding: 20px 20px 35px;;
        }
        .ctaContent{
            width: 50%;
            @media(max-width:$breakpoint-mobile){
                width: 100%;
                text-align: center;
            }
            h2{
                color: $white;
                @media(max-width:$breakpoint-mobile-xs){
                    font-size: 24px;
                }
            }
            p{
                margin: 25px 0 30px;
                color: $white;
                @media(max-width:$breakpoint-tablet-sm){
                    margin: 15px 0 20px;
                }
                @media(max-width:$breakpoint-mobile-xs){
                    line-height: 1.7;
                }
            }
        }
        .ctaimageBox{
            width: 50%;
            text-align: end;
            @media(max-width:$breakpoint-mobile){
                width: 100%;
                text-align: center;
            }
            img{
                @media(max-width:$breakpoint-mobile){
                    max-width: 300px;
                }
                @media(max-width:$breakpoint-mobile-sm){
                    max-width: 270px;
                }
                @media(max-width:$breakpoint-mobile-xs){
                    max-width: 100%;
                }
            }
        }
    }
}